<div class="container-fluid p-3 mt-3 rounded border w-75 ml-3">
    <h6>{{format_date date}}:</h6>
    <h6><a class="text-primary" href="/profile/{{user.id}}">{{user.username}}</a> says:</h6>
    <pre class="rounded p-2">> {{content}}</pre>
</div>