<nav class="navbar navbar-dark bg-dark rounded p-4 sticky-top d-flex justify-content-between">
    <a href="/"><h1 class="header-1 text-light ml-3">Tech Blog</h1></a>
    <ul class="nav mr-5 pr-5">
      <li class="nav-item ">
        <a class="nav-link text-light" href="/posts/top">Top Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/topics">Topics</a>
      </li>
      {{#if loggedIn}}
      <li class="nav-item">
        <a class="nav-link text-light" href="/profile/{{user.id}}">Dashboard</a>
      </li>
      {{/if}}
    </ul>

  {{!-- LOGIN/LOGOUT MENU--}}
  {{#if loggedIn}}
    <div>
        <a id="logout" class="nav-link text-light" href="/api/users/logout">Logout</a>
    </div>
  {{else}}
    <div>
        <a class="nav-link text-light" href="/login">Login</a>
    </div>
  {{/if}}

</nav>

