body{
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .sticky-top{
    border-bottom: 2px solid rgb(17, 9, 9);
  }
  
  .post {
    border: 1px solid lightgray;
    border-bottom: 2px solid black;
  }

  a{
    color: black;
  }

  pre {
    border: black solid 1px;
  }

  .bg-light{
    background-color: #f8f9fa;
  }


/* FA Icons */

.fa{
  font-size:30px;
  color:red;
}

.fa:hover{
  cursor: pointer;
}